@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    font-family: 'Poppins', sans-serif;
}

/* html {
    scroll-behavior: smooth;
} */

.fontNoto {
    font-family: 'Noto Serif', serif;
}

.hideScrollbar::-webkit-scrollbar {
    display: none;
}

.hideScrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.story-feed {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding: 10px 0px;
    width: 100%;
    box-sizing: border-box;
    scrollbar-width: none;
}

.story-feed::-webkit-scrollbar {
    display: none;
}

.story-thumbnail {
    overflow: hidden;
    cursor: pointer;
    flex-shrink: 0;
    height: 360px;
    aspect-ratio: 10/16;
    border-radius: 16px;
    position: relative;

    /* & img {
        border: 3px solid var(--color-blueClr);
    } */

    & p {
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        margin-top: 4px;
    }

}

.story-thumbnail:hover {
    & img {
        transition: all 0.2s ease-in-out;
        opacity: 0.8;
    }
}

.story-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.story-thumbnail .story-category {
    color: white;
    position: absolute;
    top: 4px;
    left: 8px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 4px 8px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px
}

.story-thumbnail .story-topic {
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.75));
    position: absolute;
    bottom: 0px;
    padding: 6px 12px;
    text-align: start;
    color: white;
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    text-transform: capitalize;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.story-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.story-overlay.active {
    display: flex;
}

.story-container {
    position: relative;
    height: 100%;
    aspect-ratio: 9/16;
    border-radius: 12px;
    overflow: hidden;
}

.story-progress {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    gap: 4px;
    z-index: 10;
}

.story-progress-bar {
    flex: 1;
    height: 3px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    overflow: hidden;
}

.story-progress-bar-fill {
    width: 0%;
    height: 100%;
    background: white;
    transition: width linear;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Close button */
.close-story {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 22px;
    right: 15px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    z-index: 20;
    display: flex;
    justify-items: center;
    align-items: center;
}

.close-story:hover {
    background: rgba(255, 255, 255, 0.2);
}

.story-text {
    background-color: var(--color-bgClr);
    position: absolute;
    bottom: 48px;
    left: 24px;
    right: 24px;
    color: black;
    padding: 8px 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    text-transform: capitalize;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    transform: translateY(30px);
    opacity: 0;
}

/* Animation keyframes */
@keyframes slideUpFade {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Class that triggers the animation */
.story-text.animate {
    animation: slideUpFade 0.75s ease forwards;
    animation-delay: 0.3s;
}

#news-marquee .splide__track,
#news-marquee .splide__list,
#news-marquee .splide__slide {
    will-change: transform;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

#news-marquee {
    background: transparent;
    padding: 6px 0;
    max-width: 85vw;
    overflow: hidden;
}

#news-marquee .splide__slide {
    padding: 0 40px;
    white-space: nowrap;
}

#news-marquee a {
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

#news-marquee a:hover {
    text-decoration: underline;
}